<%-include('partials/header')-%>
<div class="main">
    <a class="btn btn-outline-primary me-3" href="/mycalender">Marked Date</a>

    <!-- calender  -->
    <table class="table table-bordered">
        <thead>
          <tr>
            <%=all_about_date%>
          </tr>
        </thead>
        <tbody>

        </tbody>              
      </table>
</div>
<script src="static/script/script.js"></script>
<%-include('partials/footer')-%>
    